<div class="container">
<div class="card mt-5" style="align-items: center;">
<h3>Teacher DashBoard</h3>
</div>

<div class="card mt-5" style="padding: 20px;">

<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

  <div class="from-group">
    <label for="name">Teacher_Name : </label>
    <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control">
  </div><br>


  <div class="from-group">
    <label for="address">Teacher_address : </label>
    <input type="text" #address (ngModel)="address" name="address" id="address" class="form-control">
  </div><br>


  
  <div class="from-group">
    <label for="percentage">Teacher_percentage : </label>
    <input type="number" #percentage (ngModel)="percentage" name="percentage" id="percentage" class="form-control">
  </div><br>


  <div class="from-group">
    <input type="submit" value="Register" class="btn btn-primary w-100" >
  </div>





</form>

</div>


<div class="mt-5">

  <table class="table table-bordered">
    <thead class="thead">
    <tr>
      <th>Teacher Id</th>
      <th>Teacher Name</th>
      <th>Teacher Address</th>
      <th>Teacher Persentage</th>
      <th> Action</th>

    </tr>
  </thead>
  <tbody class="tbody">
    <tr *ngFor="let teacher of getTeachers">
      <td>{{teacher.id}}</td>
      <td>{{teacher.name}}</td>
      <td>{{teacher.address}}</td>
      <td>{{teacher.percentage}}</td>
      <td><button type="button" class="btn btn-primary">Edit</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="deleteTeacher(teacher)">Delete</button></td>

    </tr>

  </tbody>
  </table>
  
</div>


</div>

